<!DOCTYPE html>
<html>
<head>
    <title>Edit User | Karmic Canteen</title>
        {% load static %}
    <link rel="stylesheet" href="{% static 'canteen/css/edit.css' %}">
</head>
<body>
    <h2>Edit User: {{ user_obj.username }}</h2>

    <form method="POST">
        {% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username" value="{{ user_obj.username }}" required><br><br>

        <label>Email:</label>
        <input type="email" name="email" value="{{ user_obj.email }}"><br><br>

        <label>Is Staff:</label>
        <input type="checkbox" name="is_staff" {% if user_obj.is_staff %}checked{% endif %}><br><br>

        <button type="submit">Save Changes</button>
    </form>

    <br>
    <a href="{% url 'manage_users' %}">Back</a>
</body>
</html>
