<!DOCTYPE html>
<html>
<head>
  <title>Login | Karmic Canteen</title>
 {% load static %}
   <link rel="stylesheet" href="{% static 'canteen/css/manage.css' %}">
</head>
<body>
<h2>All Menu Items (Superuser)</h2>
<table border="1">
  <tr><th>ID</th><th>Name</th><th>Type</th><th>Price</th><th>Available</th><th>Actions</th></tr>
  {% for item in items %}
  <tr>
    <td>{{ item.id }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.meal_type }}</td>
    <td>{{ item.price }}</td>
    <td>{{ item.available }}</td>
    <td>
      <a href="{% url 'menu_edit' item.id %}">Edit</a> |
      <a href="{% url 'menu_delete' item.id %}" onclick="return confirm('Delete this item?');">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>

<a href="{% url 'admin_dashboard' %}">Back</a>
</body>
</html>