<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard | Karmic Canteen</title>
{% load static %}
    <link rel="stylesheet" href="{% static 'canteen/css/employe.css' %}">
</head>
<body>




<h2>Welcome, {{ user.username }}!</h2>
<h3>Today's Menu</h3>

{% if messages %}
  {% for msg in messages %}
    <p style="color:green;">{{ msg }}</p>
  {% endfor %}
{% endif %}

<table border="1">
  <tr>
    <th>Meal</th>
    <th>Description</th>
    <th>Meal Type</th>
    <th>Price</th>
    <th>Action</th>
  </tr>

  {% for item in menu_items %}
  <tr>
    <td>{{ item.name }}</td>
    <td>{{ item.description }}</td>
    <td>{{ item.get_meal_type_display }}</td>
    <td>{{ item.price }}</td>
    <td>
      <form method="POST" style="display:inline;">
        {% csrf_token %}
        <input type="hidden" name="menu_id" value="{{ item.id }}">
        {% if item.id in opted_items %}
          <button type="submit" name="action" value="opt_out">Cancel</button>
        {% else %}
          <button type="submit" name="action" value="opt_in">Opt In</button>
        {% endif %}
      </form>
    </td>
  </tr>
  {% endfor %}
</table>

<br>
<a href="{% url 'my_selections' %}">View My Selections</a> |
<a href="{% url 'logout_view' %}">Logout</a>
</body>
</html>